@import "./node_modules/@yek/sass/dist/index.scss";
@mixin --clear-input {
	@include --clear-space;
	@include size($tog: 100%);
	letter-spacing: 1.7px;
	border: none;
	outline: none;
	box-shadow: none;
	stroke: none;
}
@mixin --clear-fieldset-form {
	fieldset,
	form,
	figure {
		@include --clear-space;
	}
	figcaption {
		display: none;
	}
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap"); // NOTE : lalezar font
@import url("https://cdn.jsdelivr.net/npm/yekan-font@1.0.0/css/yekan-font.min.css"); // NOTE : yekan font

$c-primary: #1a2554;
$c-secondary: #a5b3d4;
$c-gray: #dce5f2;
$c-white: #f2f5fb;
// $c-secondary: #44517b;
// $c-gray: #e3ebf8;

body {
	@include --fcenter;
	background-color: $c-white;
	color: $c-secondary;
	font-family: "Roboto", "sans-serif" !important;
}

.visible-hidden {
	visibility: hidden;
}
@include --clear-fieldset-form;

// CODE //

/* --- CONTENT --- */
.samak {
	@include --fcenter;
	@include relative;
	// ALT : @include size(650px, 450px);
	// ALT : @include size(750px, 550px);
	@include size(700px, 500px);
	@include --radius(25);
	background-color: $c-gray;
	overflow: hidden;

	&__side {
		@include --fcenter;
		@include --clear-space;
		@include size(50%, 100%);
		overflow: hidden;
		padding-top: 25px;
		padding-bottom: 40px;
		// padding: 0;

		// left &--login,
		// right &--signin
	}

	&__cover {
		@include --fcenter;
		@include absolute($top: 0, $right: 0, $bottom: 0);
		@include size(50%, 100%);
		padding: 15px;
		background-color: $c-gray;
	}
	&__image {
		@include --image-cover;
		@include --radius(25);
		filter: grayscale(30%) invert(200%) contrast(130%);
		$g-start-step: #22254b;
		$g-start-step: $c-primary;
		$g-stop-step: #64779e;
		background-color: $g-start-step;
		background-color: $g-stop-step;
		background: linear-gradient($g-start-step, $g-stop-step);
	}
}

/* --- LOGIN --- */
.login,
.signin {
	// HEADER //
	&__header {
		@include flex(column);
		@include size(calc(100% - 80px)); // MARK : ALIGN-UX
		// @include size(calc(100% - 75px)); // MARK : NONE-UX
		margin-bottom: 36px;

		h2 {
			font-size: 1.76rem;
			font-weight: 900;
			// @include --clear-space;
		}
	}
	&__title {
		color: $c-primary;
	}
	&__desc {
		display: inline-block;
		color: darken($c-secondary, 21%);
	}

	&__form {
		@include size(calc(100% - 60px) /*, 100%*/);
	}

	// SEPRATOR //
	&__seprator {
		@include flex;
		@include align(space-between, center, center);
		// margin: 32px 10px; // MARK : ALIGN-UX
		// margin: 32px 2px; // MARK : NONE-UX
		margin: 32px 10px 17px; // MARK : BETTER-SPACE
	}
	&__seprate {
		@include size(calc(50% - 15px), 2px);
		@include --radius;
		background-color: $c-secondary;
	}

	// FIELDS //
	&__fields {
		@include --clear-input;
		@include --fcenter;
	}
	&__field {
		@include flex;
		@include align(space-around);
		@include size(100%, 47px);
		@include --clear-space;
		border: 1px solid $c-secondary;
		background-color: #fff;
		margin-bottom: 32px;

		&--password {
			@include relative;
			// @include aligns(space-around);
		}
	}
	&__input {
		@include size;
		@include --clear-input;
		@include --clear-space;
		padding: 0 2ch;
		background-color: transparent;
	}
	&__field--password &__input {
		padding-right: 40px;
	}
	&__trailing {
		@include --fcenter;
		@include absolute($right: 3px);
		@include size(36px, 100%);
		@include --clear-space;
		@include --clear-btn;
		@include --btn-effect;
		background-color: transparent;
		color: $c-secondary;
	}

	// BUTTONS //
	&__btn {
		@include --clear-space;
		@include --clear-btn;
		@include --btn-effect;
		@include --fcenter;
		@include size(100%, 48px);
		padding: 8px 16px;

		&--exist,
		&--forgot,
		&--register {
			color: darken($c-secondary, 21%);
			background-color: transparent;
		}

		&--login,
		&--signin {
			background-color: $c-primary;
			color: $c-white;
		}

		&--forgot,
		&--register {
			width: calc(50% - 8px);
			font-size: 0.86rem;
			&:not(&:last-child) {
				margin-right: 16px;
			}
		}
	}
}

/* --- SIDE CONTROLLER --- */
.samak {
	&__checkbox {
		display: none;
	}

	&__cover {
		right: 50%;
	}

	&__checkbox:checked ~ &__cover {
		right: 0;
	}
}
.login,
.signin {
	&__btn {
		&--exist {
			letter-spacing: 1.5px;
			word-spacing: 4px;
		}

		&--register {
			letter-spacing: 0;
		}
	}
}

/* MARK : media-queries (responsivities) */
@media screen and (max-width: 715px) {
	.samak {
		width: 90%;
		&__side {
			@include size(100%, 100%);
			&--login {
				margin-top: -500px; // NOTE : full-height of wgt
			}
		}
		&__cover {
			display: none;
		}

		&__checkbox:checked ~ &__side--login {
			margin-top: 500px; // NOTE : full-height of wgt
		}
	}
}

/* MARK : CORNER RADIUS */
@mixin _radius($target: null, $key: null, $offset: 0) {
	@at-root .samak {
		&--#{$key} .#{$target}__field,
		&--#{$key} .#{$target}__input,
		&--#{$key} .#{$target}__btn {
			@include --radius($offset);
		}
	}
}
@include _radius("login", "full-round", 25);
@include _radius("login", "half-round", 16);
@include _radius("login", "semi-round", 9);
@include _radius("signin", "full-round", 25);
@include _radius("signin", "half-round", 16);
@include _radius("signin", "semi-round", 9);

/* --- RTL --- */
body[data-language="persian"] {
	&,
	button,
	input {
		text-align: right;
		font-family: "Yekan", "Lalezar", cursive !important;
		letter-spacing: 0.3px;
	}
	h1,
	h2 {
		letter-spacing: 2.1px;
	}
	strong {
		letter-spacing: 1.3px;
	}
	.login,
	.signin {
		&__input {
			word-spacing: 5px;
			// letter-spacing: 1.5px; // NOTE : font-face: lalezar
			letter-spacing: 0.3px; // NOTE : font-face: yekan
		}
		&__field--password &__input {
			padding-left: 40px;
			padding-right: 2ch;
		}
		&__trailing {
			left: 3px;
		}
	}
	.signin__desc {
		// word-spacing: 1.5px; // NOTE : font-face: lalezar
		word-spacing: 2.2px; // NOTE : font-face: yekan
		font-size: 0.9rem;
	}
	.login__desc {
		// word-spacing: 4.5px; // NOTE : font-face: lalezar
		word-spacing: 0; // NOTE : font-face: yekan
	}
}

.language {
	@include fixed(20px, 40px);
	@include --fcenter;
	@include size(260px, 45px);
	@include --radius;
	@include --clear-space;
	text-align: left;
	box-shadow: 0 0 0.6rem rgba($c-secondary, 50%);
	overflow: hidden;

	&__item {
		@include --fcenter;
		@include align(space-around);
		@include --clear-space;
		@include --clear-btn;
		@include size(50%, 100%);
		padding: 6px 10px;
		color: $c-primary;
	}

	input[type="radio"] {
		display: none;
	}

	input[type="radio"]:checked + label {
		color: $c-white;
		background-color: $c-primary;
		font-size: bold;
	}
}
